<plist version="1.0"><dict><key>items</key><array><dict><key>assets</key><array><dict><key>kind</key><string>software-package</string><key>url</key><string>http://123.56.227.159/ios/YiLifeApp.ipa</string></dict></array><key>metadata</key><dict><key>bundle-identifier</key><string>com.huanzthapp.yilife.city</string><key>bundle-version</key><string>1.0</string><key>kind</key><string>software</string><key>title</key><string>逸生活</string></dict></dict></array></dict></plist>
